// Lock height of html, body, and React container to screen height because
// scrolling will be performed within divs
html
  font-size: 16px
  font-family: sans-serif
  overflow: hidden
  height: 100%

  body, #app
    height: 100%

// Size helpers ex: w-100, mw-50, h75
$types: (('w','width'), ('h', 'height'), ('mh', 'max-height'), ('mw', 'max-width'))
$sizes: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100)
@each $abbr, $prop in $types
  @each $size in $sizes
    .#{$abbr}-#{$size}
      #{$prop}: #{percentage($size / 100)}

$spacer: 1rem
$types: (('m','margin'), ('p','padding'))
$sizes: (0: 0, 1: ($spacer * 0.25), 2: ($spacer * 0.5), 3: ($spacer * 1), 4: ($spacer * 2), 5: ($spacer * 4))
$positions: ("a" : (""), "t" : ("-top"), "l": ("-left"), "b": ("-bottom"), "r": ("-right"), "x": ("-left", "-right"), "y": ("-top", "-bottom"))

@each $pos, $props in $positions
  @each $size, $value in $sizes
    @each $label, $type in $types
      .#{$label}#{$pos}-#{$size}
        @each $prop in $props
          #{$type}#{$prop}: $value!important
