@import "./_utils/_size"
@import "./_utils/_overflow"

@import 'bulma/css/bulma.css'

html, body, #app
  padding: 0
  margin: 0

// Lock height of html and body to screen height
html
  overflow: hidden
  height: 100%

  body
    height: 100%

    #app
      height: 100%

      > div
        height: 100%

.resizable-wrapper
  display: flex
  flex-direction: row
  background-color: transparent
  max-height: 100%

  & > :first-child
    flex-grow: 1

.resizable-handle
  height: 100%
  cursor: ew-resize
  width: 4px
  background-color: rgb(240, 240, 240)
  flex-grow: 0
