@import "./_utils/_size"
@import "./_utils/_overflow"
@import "./_utils/_color"
@import "./_utils/_border"

@import "bulma/bulma.sass"

// IMPORT THIS AFTER bulma.sass
@import "./_bulma/_typography-fix"

html, body, #app
  padding: 0
  margin: 0

// Lock height of html and body to screen height
html
  overflow: hidden
  height: 100%

  body
    height: 100%

    #app
      height: 100%

.resizable-wrapper
  display: flex
  flex-direction: row
  background-color: transparent
  max-height: 100%

  & > :first-child
    flex-grow: 1

.resizable-handle
  height: 100%
  cursor: ew-resize
  width: 4px
  background-color: rgb(240, 240, 240)
  flex-grow: 0

.normal-icon
  color: $dark

.inline-button-icon
  color: $dark
  font-size: 1em
  padding: 0
  border: none
  cursor: pointer
  background-color: transparent

.input:invalid
  border-color: $danger
  background-color: transparentize($danger, .9)
  color: $danger

.global-navigation-input
  height: 18px
  border-radius: 0
  padding: 0
  font-size: $size-7!important

  &:focus
    outline: none !important
    outline-width: 0 !important
    box-shadow: none
    -webkit-box-shadow: none

// Add indentation to trigger of nested menus
.navigation-menu > .navigation-menu > .navigation-menu-trigger > *
  padding-left: 20px!important
