// Theme support
@import "node_modules/bulmaswatch/cyborg/variables.scss"
@import "~bulma"

@import "node_modules/bulmaswatch/cyborg/overrides.scss"

// Utilities
@import "_flex.sass"
@import "_size.sass"

html
    height: 100vh
    padding: 0

body
    min-height: 100vh
    padding: 0
